<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.passenger.financial.mapper.ApiUserMapper">
    <resultMap id="BaseResultMap" type="com.passenger.financial.entity.ApiUser">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="wechat_num" jdbcType="VARCHAR" property="wechatNum"/>
        <result column="open_id" jdbcType="VARCHAR" property="openId"/>
        <result column="phone_num" jdbcType="VARCHAR" property="phoneNum"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="user_head_image" jdbcType="VARCHAR" property="userHeadImage"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, nick_name, wechat_num, open_id, phone_num, create_time, update_time, user_head_image
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_api_user where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectByOpenId" resultMap="BaseResultMap" parameterType="string">
        SELECT
        <include refid="Base_Column_List"/>
        FROM tb_api_user WHERE open_id = #{openId}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from tb_api_user
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.passenger.financial.entity.ApiUser">
        insert into tb_api_user (nick_name, wechat_num, open_id, phone_num, create_time, update_time, user_head_image)
        values (#{nickName}, #{wechatNum}, #{openId}, #{phoneNum}, #{createTime}, #{updateTime}, #{userHeadImage})
    </insert>


    <update id="updateByPrimaryKey" parameterType="com.passenger.financial.entity.ApiUser">
        update tb_api_user
        set nick_name       = #{nickName},
            wechat_num      = #{wechatNum},
            open_id         = #{openId},
            phone_num       = #{phoneNum},
            update_time     = #{updateTime},
            user_head_image = #{userHeadImage}
        where id = #{id,jdbcType=INTEGER}
    </update>

</mapper>
