<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.passenger.financial.mapper.ApiUserMapper">
    <resultMap id="BaseResultMap" type="com.passenger.financial.entity.ApiUser">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="nick_name"  property="nickName"/>
        <result column="driver_name"  property="driverName"/>
        <result column="open_id"  property="openId"/>
        <result column="driver_id"  property="driverId"/>
        <result column="organization_id"  property="organizationId"/>
        <result column="organization_name"  property="organizationName"/>
        <result column="accounting_organization_id"  property="accountingOrganizationId"/>
        <result column="accounting_organization_name"  property="accountingOrganizationName"/>
        <result column="wechat_num"  property="wechatNum"/>
        <result column="phone_num"  property="phoneNum"/>
        <result column="user_head_image"  property="userHeadImage"/>
        <result column="create_time"  property="createTime"/>
        <result column="update_time"  property="updateTime"/>
    </resultMap>


    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select * from tb_api_user where id = #{id}
    </select>

    <select id="selectByOpenId" resultMap="BaseResultMap" parameterType="string">
        SELECT * FROM tb_api_user WHERE open_id = #{openId}
    </select>

    <select id="findNoInitDriverInfoUser" resultMap="BaseResultMap">
        select * from tb_api_user where driver_name is null and driver_id is not null
    </select>

    <select id="findApiUserByPhone" resultMap="BaseResultMap">
        select * from tb_api_user where phone = #{phone}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from tb_api_user where id = #{id}
    </delete>

    <insert id="insert" parameterType="com.passenger.financial.entity.ApiUser">
        insert into tb_api_user (nick_name, wechat_num, open_id, phone_num, create_time, update_time, user_head_image)
        values (#{nickName}, #{wechatNum}, #{openId}, #{phoneNum}, #{createTime}, #{updateTime}, #{userHeadImage})
    </insert>


    <update id="updateByPrimaryKey" parameterType="com.passenger.financial.entity.ApiUser">
        update tb_api_user
        set nick_name       = #{nickName},
            wechat_num      = #{wechatNum},
            open_id         = #{openId},
            phone_num       = #{phoneNum},
            update_time     = #{updateTime},
            user_head_image = #{userHeadImage}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateDriverInfoById" parameterType="com.passenger.financial.entity.ApiUser">
        update tb_api_user
        set driver_name       = #{driverName},
            organization_id      = #{organizationId},
            organization_name         = #{organizationName},
            accounting_organization_id       = #{accountingOrganizationId},
            accounting_organization_name     = #{accountingOrganizationName},
            update_time = #{updateTime}
        where id = #{id}
    </update>

</mapper>
