<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.passenger.financial.mapper.DriverMapper">

    <resultMap id="BaseResultMap" type="com.passenger.financial.entity.Driver">
        <id column="id" property="id"/>
        <result column="phone" property="phone"/>
        <result column="name" property="name"/>
        <result column="organization_id" property="organizationId"/>
        <result column="organization_name" property="organizationName"/>
        <result column="accounting_organization_id"  property="accountingOrganizationId" />
        <result column="accounting_organization_name"  property="accountingOrganizationName" />
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="findDriverByPhone" resultMap="BaseResultMap" parameterType="string">
        select *
        from tb_driver
        where phone = #{phone}
    </select>

    <select id="findById" resultMap="BaseResultMap" parameterType="int">
        select *
        from tb_driver
        where id = #{id}
    </select>

    <select id="findByAccountIdCount" resultType="java.lang.Integer" parameterType="int">
        select count(1) from tb_driver where accounting_organization_id = #{accountingId}
    </select>

    <select id="findNoCommitInfo" resultMap="BaseResultMap" parameterType="map">
        select * from tb_driver where id not in
             (
                  select driver_id from tb_turnover_record
                  where accounting_organization_id = #{accountingId} and report_date = #{currentDate}
             )
    </select>

</mapper>
