<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.passenger.financial.mapper.TenDayMapper">
    <resultMap id="BaseResultMap" type="com.passenger.financial.entity.TenDayRecord">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="account_organization_name"  property="accountOrganizationName"/>
        <result column="account_organization_id"  property="accountOrganizationId"/>
        <result column="distribution_amount"  property="distributionAmount"/>
        <result column="start_time"  property="startTime"/>
        <result column="end_time"  property="endTime"/>
    </resultMap>
    <select id="findAllByOrganizationId" resultMap="BaseResultMap" parameterType="int">
        select * from tb_ten_day_record where account_organization_id = #{accountOrganizationId}
    </select>


</mapper>
